.leftMiddle {
    position: relative;
    top: 0;
    left: 20%;
    z-index: 1;
    margin-top: 10px;
    height: 100%;
}

.projname {
    max-width: 30%;
}
.projdesription {
    max-width: 60%;
    max-height: 80vh;
}

.projdesription1 {
    max-width: 100%;
    max-height: 80vh;
}

.projectscroll{
    height: 100%;
}

.deletebtn{
    margin-bottom: 20px;
}

.spaceup{
    margin-top: 20px;
}

.spacedown{
    margin-bottom: 20px;
}

.spaceupdown{
    margin-top: 20px;
    margin-bottom: 20px;
}