.leftMiddle {
    position: relative;
    top: 0;
    left: 20%;
    z-index: 1;
    margin-top: 10px;
    height: 100%;
}

.projname {
    max-width: 30%;
}
.projdesription {
    max-width: 60%;
    max-height: 80vh;
}

.projectscroll{
    height: 100%;
}